#tituloExperience{
    width: 100%;
    height: 25%;
    text-align: right;
    margin-top: 10px;
       color: black;
  
}
#tituloExperience h1{
    margin-right: 30px;
}

#empresa1, #empresa2{
    width: 100%;
    }
#descricaoExperience{
    margin-left: 25px;
    display: flex;
    color: black;
    flex-direction: column;
}

#descricaoExperience h5{
    font-size: 25px;
    font-weight: 600
}#descricaoExperience p {
    
    
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    overflow-wrap: break-word;
    font-kerning: normal;
    font-size: 16px;
  
    margin-top: 15px;
}